<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
    <script type="text/javascript" src="webcomponents.js"></script>
    <script type="text/javascript" src="application.js"></script>
</head>
<body>
    <!-- Templates -->
    include "Components/Application.html"
    include "Components/TestComponent.html"

    
    <ui-application>
        <ui-my-test-component></ui-my-test-component>
        <h1>Also, {{poop}}</h1>
        <p>"{{poop}}"</p>
    </ui-application>

    <template id="ui-my-test-component">
        <strong>{{poop}}? {{poop}}.</strong>
    </template>
</body>
</html>